<h1><%= link_to 'Back to Tournament', tournament_path(@team.tournament) %></h1>
  <p>
  <strong>Tournament:</strong>
    <%= @team.tournament.title %><% if @team.tournament.subtitle.length > 0 %>, <%=	@team.tournament.subtitle %><% end %>
  <br />
  <strong>Date:</strong>
    <%= @team.tournament.tournament_date %>
  <br />
  <strong>Location:</strong>
    <%= @team.tournament.location %>
  <br />
  </p>

<h2>Add Players to <%= @team.name %></h2>
<%= form_for [@team.tournament, @team], url: {action: "save_team_players"}, method: :post do |f| %>
  <% if @team.errors.any? %>
		<div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
		  	<ul>
          <% @team.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		    	<% end %>
		    </ul>
		</div>
	<% end %>
  <p>
    <%= hidden_field_tag "team[tournament_player_ids][]" %> <% Team.get_eligible_players(@team.tournament.id, @team.id).sort_by {|tp| tp.player.name_combo}.each do |tournament_player| %> <%= check_box_tag "team[tournament_player_ids][]", tournament_player.id, @team.tournament_player_ids.include?(tournament_player.id)%> <%= tournament_player.player.name_combo %> <br /><% end %>
  </p>
  <p>
    <%= f.submit "Add Players to Team" %>
  </p>
<% end %>

<%= link_to 'Back to Tournament', tournament_path(@team.tournament) %>