<h1><%= link_to 'Back to Tournament', tournament_path(@tournament) %></h1>
  <p>
    <strong>Tournament:</strong>
    <%= @tournament.title %><% if @tournament.subtitle.length > 0 %>, <%=	@tournament.subtitle %><% end %>
    <br />
    <strong>Date:</strong>
    <%= @tournament.tournament_date %>
    <br />
    <strong>Location:</strong>
    <%= @tournament.location %>
    <br />
    <strong>Type:</strong>
    <%= @tournament.tournament_type.tournament_type %>
    <br />
    <strong>Use Handicap?:</strong>
    <%= @tournament.handicap? %>
    <br />
    <strong>Use Tournament Handicap Only, rather than Course Specific Handicap?:</strong>
    <%= @tournament.tournament_handicap_only? %>
  </p>

<h2>Select Course for Tournament Round</h2>

<%= form_for :round, url: new_tournament_round_path, method: :get do |f| %>
<% if @tournament.errors.any? %>
		<div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
		  	<ul>
          <% @tournament.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		    	<% end %>
		    </ul>
		</div>
	<% end %>
  <p>
    <select name="course_id" id="course_ids" />
      <% course_array = Course.all.order("number_of_holes desc", :name).map { |course| [course.name_and_number_of_holes, course.id] } %>
      <%= options_for_select(course_array) %>
    </select>
  </p>
  <p>
    <%= f.submit "Select" %>
  </p>
<% end %>

<%= link_to 'Back to Tournament', tournament_path(@tournament) %>