<h1><%= link_to 'Back to Tournament', tournament_path(@tournament_player.tournament) %></h1>
  <p>
  <strong>Tournament:</strong>
    <%= @tournament_player.tournament.title %><% if @tournament_player.tournament.subtitle.length > 0 %>, <%=	@tournament_player.tournament.subtitle %><% end %>
  <br />
  <strong>Date:</strong>
    <%= @tournament_player.tournament.tournament_date %>
  <br />
  <strong>Location:</strong>
  <%= @tournament_player.tournament.location %>
  <br />
  </p>

<h2>Add Player to Tournament</h2>

<%= form_for ([@tournament_player.tournament, @tournament_player]) do |f| %>
<% if @tournament_player.errors.any? %>
		<div id="error_explanation">
      <h2><%= pluralize(@tournament_player.errors.count, "error") %> prohibited this tournament_player from being saved:</h2>
		  	<ul>
          <% @tournament_player.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		    	<% end %>
		    </ul>
		</div>
	<% end %>
  <p>
    <% players_array = Player.all.order(:last_name, :first_name).map { |player| [player.name_combo, player.id] } %>
    <%= f.label :player_id %>: <%=f.select(:player_id, options_for_select(players_array), {}, {multiple: true, size: 10}) %>
    <!-- f.label :player_id ": " f.collection_select(:player_id, Player.get_eligible_players(@tournament_player.tournament.id).order(:last_name, :first_name), :id, :name_combo) -->
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to Tournament', tournament_path(@tournament_player.tournament) %>