<h1>Players</h1>
<%= link_to 'New Player', new_player_path %>
<table>
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Nickname</th>
		<th>Handicap</th>
	</tr>
	<% @players.each do |player| %>
		<tr>
			<td><%= player.last_name %></td>
			<td><%= player.first_name %></td>
			<td><%= player.nickname %></td>
			<td><%= player.handicap %></td>
			<td><%= link_to 'Show', player_path(player) %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Delete', player_path(player), 
      			method: :delete, 
      			data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Back to FRESCA Home', root_url %>