<%= form_for @course do |f| %>

	<% if @course.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
		  	<ul>
		    	<% @course.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		    	<% end %>
		    </ul>
		</div>
	<% end %>
	<p><%= f.label :name %> <%=f.text_field :name %></p>
	<p><%= f.label :address %> <%=f.text_field :address %></p>
	<p><%= f.label :city %> <%=f.text_field :city %></p>
	<p><%= f.label :state %> <%=f.text_field :state %></p>
	<p><%= f.label :zip %> <%=f.text_field :zip %></p>
	<p><%= f.label :phone_number %> <%=f.text_field :phone_number %></p>
  <p><%= f.label :number_of_holes, '# of Holes on Course' %> <%= f.select :number_of_holes, [9, 18]%> Note: Once saved, the number of holes on the course cannot be changed.</p>
  <p><%= f.label :par3, 'Is it a Par 3 Course?' %> <%= f.select :par3, [true, false]%> Note: Once saved, this course canot be changed into a Par 3 course.</p>
  <p><%= f.submit %></p>

<% end %>