    <tr class='<%= tee_box.color.downcase %>_tee_box'>
      <td><%= tee_box.color %></td>
      <td><%= tee_box.tee_box_type.tee_box_type %></td>
      <td><%= tee_box.course_rating %>/<%= tee_box.course_slope %></td>
      <% tee_box.holes.each do |hole| %>
        <td><%=hole.hole_number %></td>
      <% end %>
      <td></td>
    </tr>
    <tr class='<%= tee_box.color.downcase %>_tee_box'>
      <td></td>
      <td></td>
      <td>Yardage</td>
      <% tee_box.holes.each do |hole| %>
        <td><%=hole.yardage %></td>
      <% end %>
      <td><%= tee_box.total_yardage %></td>
    </tr>
    <tr class='<%= tee_box.color.downcase %>_tee_box'>
      <td></td>
      <td></td>
      <td>Par</td>
      <% tee_box.holes.each do |hole| %>
        <td><%=hole.par %></td>
      <% end %>
      <td><%= tee_box.total_par %></td>
    </tr>
    <tr class='<%= tee_box.color.downcase %>_tee_box'>
      <td></td>
      <td></td>
      <td>Handicap</td>
      <% tee_box.holes.each do |hole| %>
        <td><%=hole.handicap %></td>
      <% end %>
      <td></td>
    </tr>
    <tr class=tee_box_delete_row>
      <td colspan="23">
        Tee Box: <%= link_to 'Edit', edit_course_tee_box_path(tee_box.course, tee_box) %> | <%= link_to 'Delete', [tee_box.course, tee_box],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
       </td>
    </tr>